
@font-face {
    font-family: "andu";
    src: url("fonts/andu/andufont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "andu";
    text-transform: uppercase;
    background-image: url(./southwest.jpg);
    background-color: black;
    color: rgb(255, 230, 68);
}

h1 {
    border: 1px solid black;
    background-color: rgba(179, 100, 36, 0.95);
    font-size: 30px;
}

ul {
    border: 1px solid black;
    background-color: rgba(179, 100, 36, 0.95);
}

li {
    font-size: 16px;
}

b {
    border: 1px solid black;
    background-color: rgba(179, 100, 36, 0.95);
    font-size: 24px;
}

.events ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.events ul li {
    margin-left: 0;
    padding-left: 0;
}

body.dark {
    background-color: black;
    color: orange;
}

body.dark .columns-container {
    color: orange;
}

.columns-container {
    display: flex;
    width: 100%;
}

.columns-container>div {
    flex: 1;
    /* each takes equal space */
    max-width: 25%;
    /* optional: ensure 25% */
    box-sizing: border-box;
    /* include padding/border in width */
    padding: 0 5px;
    /* optional horizontal spacing */
}