@font-face {
    font-family: "Impact_Label";
    src: url("fonts/impact_label/Impact\ Label.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "farmhouse";
    src: url("fonts/farmhouse/Farmhouse.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "farmhouse";
    background-color: white;
    color: black;
}

h1 {
    font-family: "Impact_label";
    font-size: 36px;
    color: red;
}

ul {
    margin: 4px;
}

li {
    font-size: 20px;
}

.events ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.events ul li {
    margin-left: 0;
    padding-left: 0;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark h1 {
    background-color: black;
    color: white !important;
}

body.dark .columns-container {
    color: white;
}


.columns-container {
    display: flex;
    width: 100%;
    /* full width of parent */
    font-size: 26px;
}

.columns-container>div {
    flex: 1;
    /* each takes equal space */
    max-width: 25%;
    /* optional: ensure 25% */
    box-sizing: border-box;
    /* include padding/border in width */
    padding: 0 5px;
    /* optional horizontal spacing */
}